@import url('https://fonts.googleapis.com/css2?family=Playwrite+HR:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #caf0f8;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p {
    color: #5a5a5a;
    font-family: "poppins", sans-serif;
}

h1 {
    margin-top: 50px;
    color: #007BFF;
    text-align: center;
    font-size: 40px;
}

/* NAVIGATION */
nav {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

nav .navigation {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-between;
    display: block;
}

ul li {
    text-decoration: none;
    list-style: none;
    padding-inline: 10px;
}

ul li a, ol li {
    color: #5a5a5a;
}

ol li span {
    font-weight: 600;
}

.logo p {
    font-family: "Playwrite HR", cursive;
    font-size: 28px;
    font-weight: 600;
    color: #007BFF;
}

.logo p span {
    color: red;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger i {
    font-size: 28px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.result {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result h1 {
    text-align: center;
}

form#asciiForm {
    margin: 20px auto;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    max-width: 500px;
    height: fit-content;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

textarea {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    font-size: 15px;
}

textarea#text {
    padding: 10px;
    width: 95%;
}

input[type="submit"] {
    padding: 15px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 20px;
}

.result a {
    display: block;
    margin: 20px auto;
    width: 90%;
    max-width: 460px;
    text-align: center;
    padding: 15px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

input[type="submit"]:hover,
.result a:hover {
    background-color: #0056b3;
}

#banner {
    background-color: #f8f9fa;
    width: 100%;
    height: 40px;
    border-radius: 5px;
}

pre {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    overflow-x: auto;
    color: #0056b3;
    font-size: 15px;
}

.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
}

.error-code {
    font-size: 100px;
    font-weight: bold;
    color: #d9534f;
}

.error-message {
    font-size: 24px;
    color: #5a5a5a;
}

a {
    color: #007BFF;
    text-decoration: none;
    font-size: 18px;
}

/* About */

.title h2 {
    text-align: center;
    font-size: 28px;
}

.line {
    margin: 0 auto;
    text-align: center;
    width: 100px;
    border-bottom: 3px solid #fff;
}

.about-info {
    width: 80%;
    margin: 30px auto;
}

.about-info p span {
    font-weight: 600;
}

/* user guide */
.play-info {
    width: 80%;
    margin: 30px auto;
}

.play-info ol ul {
    display: flex;
    flex-direction: column;
}

.play-info ol li, .about-info ol li {
    padding-block: 5px;
    list-style: decimal;
}

.play-info ol ul li {
    list-style: circle;
}

.play-info ul li span {
    font-weight: 600;
}

.tips ul {
    display: flex;
    flex-direction: column;
}

.tips ul li {
    list-style: circle;
    padding-block: 5px;
    color: #5a5a5a;
}

/* Responsive styles */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #90e0ef;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .nav-links.active {
        display: flex;
    }

    ul li {
        padding-inline: 0;
        padding-block: 10px;
    }

    ul li a {
        display: block;
        padding: 10px 20px;
        color: #5a5a5a;
        border-bottom: 1px solid #eaeaea;
    }

    ul li a:hover {
        background-color: #f5f5f5;
    }
}

@media (max-width: 600px) {
    h1 {
        margin-top: 30px;
        font-size: 25px;
    }

    form#asciiForm {
        padding: 20px 10px;
        width:90%;
    }

    textarea {
        height: 80px;
        font-size: 12px;
    }

    input[type="submit"],
    .result a {
        font-size: 16px;
        padding: 10px 15px;
    }

    .result {
        width: 90%;
        max-width: 85%;
        margin: auto;
    }

    pre {
        font-size: 12px;
    }

    .error-code {
        font-size: 50px;
    }

    .error-message {
        font-size: 18px;
    }

    a {
        font-size: 16px;
    }
}
