<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>About Us</title>
</head>
<body>
    <nav>
        <div class="navigation">
            <div class="logo">
                <p>Ascii <span>Art</span> Generator</p>
            </div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="user-guide">How It Works</a></li>
            </ul>
            <div class="hamburger">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </nav>
    <div class="title">
        <h2>About Us</h2>
        <div class="line"></div>
    </div>
    
    <div class="about-info">
    <h3>Project Description</h3>
    <p>Welcome to <span>ASCII Art Web</span>, your go-to platform for transforming plain text into stunning ASCII art! Our web-based tool allows users of all skill levels to create and share beautiful text-based artwork with ease. Whether you're looking to add a creative touch to your messages, design unique graphics, or simply have fun with text art, ASCII Art Web provides the tools you need to make it happen.</p>

    <h3>Mission Statement</h3>
    <p>Our mission at ASCII Art Web is to make art accessible to everyone, regardless of their technical background. We aim to inspire creativity, provide a user-friendly platform for generating ASCII art, and foster a community of enthusiasts who share a passion for text-based design.</p>

    <h3>Team Introduction</h3>
    <p>We are a dedicated team of developers, designers, and artists committed to bringing the best ASCII art experience to our users. Our diverse backgrounds and shared love for creativity drive us to continuously improve and innovate.</p>

    <h3>Meet the Team</h3>
    <p><span>Seth Odhiambo</span> - Founder & Lead Developer
    Seth has a passion for coding and a knack for problem-solving. He started ASCII Art Web to combine his love for technology and art.
    </p>
    <p>
    <span>Stella Oiro</span> - Software Developer/Technical Writer
    Stella ensures that our platform is not only functional but also delightful to use. Her designs focus on creating an intuitive and engaging user experience.
    </p>
    <h2>Project Goals</h2>
    <ol>
        <li><span>User-Friendly Interface:</span> Continuously enhance our platform to ensure it's easy to use for everyone, from beginners to advanced users.</li>
        <li><span>Feature Expansion:</span> Introduce new features and tools to give users more creative options and flexibility in generating ASCII art.</li>
        <li><span>Community Building:</span> Foster a supportive and interactive community where users can share their creations, provide feedback, and learn from each other.</li>
    </ol>
    </div>
    <script src="/static/js/scripts.js" defer></script>
</body>
</html>