<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>ASCII Art Generator</title>
    <link rel="stylesheet" href="/static/css/styles.css"> <!-- Link to external CSS stylesheet -->
</head>
<body>
    <nav>
        <div class="navigation">
            <div class="logo">
                <p>Ascii <span>Art</span> Generator</p>
            </div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="user-guide">How It Works</a></li>
            </ul>
            <div class="hamburger">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </nav>
    <h1>ASCII Art Generator</h1>

    <form id="asciiForm" action="/" method="POST">
        <label for="text">Text only allowed:</label><br>
        <textarea id="text" name="text" rows="5" cols="25" placeholder="Enter text here...">{{.Text}}</textarea><br><br>
        <label for="banner">Select Banner Style:</label><br>
        <select id="banner" name="banner">
            <option value="standard">Standard</option>
            <option value="shadow">Shadow</option>
            <option value="thinkertoy">Thinkertoy</option>
        </select><br><br>
        
        <input type="submit" value="Generate"> <!-- Submit button to generate ASCII art -->
    </form>
    
    <!-- Error message display if there's an error -->
    {{if .Error}}
    <div class="error">
        <pre>Error: {{.Error}}</pre>
    </div>
    
    <!-- Display ASCII art result if generated successfully -->
    {{else if .Art}}
    <div class="result">
        <h1>ASCII Art Result</h1>
        <pre>{{.Art}}</pre>
        <a href="/">Refresh</a> <!-- Link to refresh the page -->
    </div>
    {{end}}

    <script src="/static/js/scripts.js" defer></script> <!-- Link to external JavaScript file -->
</body>
</html>
