<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>About Us</title>
</head>
<body>
    <nav>
        <div class="navigation">
            <div class="logo">
                <p>Ascii <span>Art</span> Generator</p>
            </div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="user-guide">How It Works</a></li>
            </ul>
            <div class="hamburger">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </nav>
    <div class="title">
        <h2>User Guide: How to Use ASCII Art Web</h2>
        <div class="line"></div>
    </div>
    
    <div class="play-info">
    <h3>Detailed Project Description</h3>
    <p>Welcome to the <span>ASCII Art Web</span> User Guide!, Follow these simple steps to create stunning ASCII art from text.
    </p>

    <h3>Getting Started</h3>
    <ol>
        <li><span>Access ASCII Art Web:</span> Navigate to ASCII Art Web in your web browser.</li>
        <li><span>Homepage Overview:</span>Familiarize yourself with the homepage:</li>
        <ul>
            <li>Enter Text: Type the text you want to convert into ASCII art.</li>
            <li>Banner Styles: Choose from a variety of styles to apply to your ASCII art.</li>
        </ul>
    </ol>

    <h3>Step-by-Step Instructions</h3>
    <ol>
        <li><span>Enter Your Text</span></li>
        <ul>
            <li>On the homepage, locate the text input field.</li>
            <li>Type the text you want to transform into ASCII art.</li>
        </ul>
        <li><span>Choose a Banner Style (Optional)</span></li>
        <ul>
            <li>Select a banner style from the dropdown menu.</li>
            <li>This step adds a decorative element to your ASCII art.</li>
        </ul>
        <li><span>Generate ASCII Art</span></li>
        <ul>
            <li>Click the "Generate" button to see your text transformed into ASCII art.</li>
            <li>The ASCII art will appear below the input form.</li>
        </ul>
        <li><span>Customize and Share</span></li>
        <ul>
            <li>Explore different text inputs and banner styles to create unique ASCII art.</li>
            <li>Use the provided options to adjust and customize your creation.</li>
        </ul>
    </ol>
    <div class="tips">
    <h3>Tips for Using ASCII Art Web</h3>
    <ul>
        <li><span>Browser Compatibility:</span> ASCII Art Web is compatible with modern web browsers. Ensure your browser is up-to-date for optimal performance.</li>
        <li><span>Sharing Your Art:</span> Share your ASCII art creations with friends and on social media using the provided share buttons.</li>
    </ul>
   </div>
    </div>
    <script src="/static/js/scripts.js" defer></script>
</body>
</html>